.Idioms{
    width: 10rem;
    position: fixed;
    left: 96vw;
    top: 0;
    z-index: 999999;
    background-color: transparent;
    transition: 0.3s;
}

.Idioms:hover{
    left: 90vw;
}

@media(max-width: 600px){
    .Idioms{
        left: 90vw;
        top: 20vh;
        transition: 0.3s;
    }
}