#LanguageSelector{
position: fixed;
bottom: 0;
right: 0;
z-index: 999;
background-color: transparent;
display: flex;
border: none;
cursor: pointer;
outline: none;
}

#LanguageSelector img{
    width: 3vw;
    transition: 0.1s;
}

#LanguageSelector img:hover{
width: 5vw;
transition: 0.1s;
}

@media(max-width: 600px){
    #LanguageSelector{
        width: 5vw;
        height: 6vh;
        top: 15%;
        padding: 0 0 0 0.1rem;
        transition: 0.5s;
    }

    #LanguageSelector:hover{
        padding-right: 1rem;
        transition: 0.5s;
    }

    #LanguageSelector img{
        width: 5vw;
    }

    #LanguageSelector img:hover{
        width: 10vw;
    }
}