@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');

body{
    margin: 0;
    font-family: 'Archivo Narrow', sans-serif;
    color: var(--White);
    background-color: black;
    
}

h1{
    font-size: 3rem;
    text-align: center;
}

p{
    font-size: 1.2rem;
    text-align: center;
}

/*phenomena*/

/*Gestión de colores*/
:root{
    --VerdBamboo: #05A535;
    --VerdBambooOscure: #084F1A;
    --MarronBamboo: #80582A;
    --MarronBambooOscure: rgb(68, 46, 29);
    --YellowBamboo: #AA9906;
    --YellowBambooOscure: rgb(95, 88, 33);
    --GrayBamboo: #56555A;
    --GrayBambooOscure: rgb(55, 55, 58);
    --GrayClare: #EFEFEF;
    --GrayOscure: gray;
    --Black: #000000;
    --White: white;
}