
.o-PhotoTeam{
    width: 25%;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    filter: grayscale(1);
    overflow: hidden;
}

.o-PhotoTeam img{
    object-fit: contain;
    width: 100%;
}

.o-PhotoTeam:hover{
    filter: grayscale(0);
}

.o-TeamInformation{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;   
}

.o-ToAnimation{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    padding: 13vh 0;
    transition: 0.7s;
}

.o-ToAnimation:hover{
    padding: 13vh 0;
}

/*Para pantallas pequeñas*/
@media (max-width: 600px) {
    .o-PhotoTeam{
        width: 100vw;
        height: 25vh;
        filter: grayscale(100%);
        justify-content: left;
        filter: grayscale(0);
        margin-bottom: 0.02rem;
    }

    .o-PhotoTeam img{
        object-fit: inherit;
        padding-left:40vw;
    }

    .o-TeamInformation{  
        left: 0;
        width: 40vw;
        height: 100%;    
    }

    .o-ToAnimation{
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: transparent;
        padding: 0 -10vw;
        transition: 0.7s;
    }

    .o-ToAnimation:hover{
        padding: 0 -10vw;
    }
}