.o-FullContainerClients{
background-color: var(--GrayClare);
}

.o-FullContainerClients h1{
    color: var(--Black);
}

.o-ImgContainerClients{
    margin: 10vh 0;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.o-ImgContainerClients img{
    height: 15vh;
    margin: 0 5vw 5vh 5vw;
}


