.o-FullContainerOurTeam{
    width: 100vw;
    background-color: var(--Black);

    position: relative;
}

.o-ContainerPhotoTeam{
    width: 100%;
    
    background-color: var(--GrayOscure);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*Para pantallas pequeñas*/
@media (max-width: 600px) {
    .o-ContainerPhotoTeam{
        flex-direction: column;
    }
}