.o-FullContainerPilares{
    background-color: var(--Black);
    background-color: transparent;
    width: 100vw;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.o-PilarsContainer{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;   
}

.Acordion{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10vh 0;;
}

.CardTitle{
    
    text-align: center;
    width: 50vw;
    font-size: 1.3rem;
    padding: 1rem 0 0 0;
    margin: 1.3rem;
    font-weight: 10;

    -webkit-box-shadow: 2px 4px 20px 0px rgba(0,0,0,0.58);
    -moz-box-shadow: 2px 4px 20px 0px rgba(0,0,0,0.58);
    box-shadow: 2px 4px 20px 0px rgba(0,0,0,0.58);
}
            
 .CardDesc{
    padding: 1rem;
}

.CardDesc p{
    font-size: 1.2rem;
}