.o-FullContainerWA{
    background-color: var(--VerdBamboo);
    width: 100vw;
    min-height: auto;
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.o-FullContainerWA strong{
    color: var(--GrayBambooOscure);
}

.o-FullContainerWA p{
    padding: 0 8vw;
}